@import '~bootstrap/scss/bootstrap-grid';
@import '~@angular/material/theming';

@include mat-core();

$numbers-primary: mat-palette($mat-indigo);
$numbers-accent: mat-palette($mat-pink, A200, A100, A400);

$numbers-warn: mat-palette($mat-red);

$numbers-theme: mat-light-theme(
  (
    color: (
      primary: $numbers-primary,
      accent: $numbers-accent,
      warn: $numbers-warn,
    ),
  )
);

@include angular-material-theme($numbers-theme);

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.text-error {
  color: mat-color($numbers-warn);
}

.text-right {
  text-align: right;
}
